<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="baseDir">logs</Property>
        <Property name="projectName">console</Property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %highlight{%-5level}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue} [%t] --- %logger{1.}.%M() : @%L - %msg%n"/>
        </Console>

        <RollingFile name="FILE" fileName="${sys:user.dir}/${baseDir}/${projectName}" filePattern="${sys:user.dir}/${baseDir}/${projectName}.%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="%d %-5level [${projectName}] [%thread] %logger{0}: %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.morphisec" level="${sys:logging_level}"/>
        <Logger name="com.example.web" level="INFO"/>
        <Logger name="javax.activation" level="WARN"/>
        <Logger name="javax.mail" level="WARN"/>
        <Logger name="javax.xml.bind" level="WARN"/>
        <Logger name="ch.qos.logback" level="WARN"/>
        <Logger name="com.codahale.metrics" level="WARN"/>
        <Logger name="com.ryantenney" level="WARN"/>
        <Logger name="com.sun.xml.internal.bind" level="WARN"/>
        <Logger name="com.zaxxer" level="WARN"/>
        <Logger name="io.undertow" level="WARN"/>
        <Logger name="org.apache" level="WARN"/>
        <Logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
        <Logger name="org.bson" level="WARN"/>
        <Logger name="org.hibernate.validator" level="WARN"/>
        <Logger name="org.hibernate" level="WARN"/>
        <Logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
        <Logger name="org.springframework" level="WARN"/>
        <Logger name="org.springframework.web" level="WARN"/>
        <Logger name="org.springframework.security" level="WARN"/>
        <Logger name="org.springframework.cache" level="WARN"/>
        <Logger name="org.thymeleaf" level="WARN"/>
        <Logger name="org.xnio" level="WARN"/>
        <Logger name="springfox" level="WARN"/>
        <Logger name="liquibase" level="WARN"/>
        <Logger name="sun.rmi.transport" level="WARN"/>

        <Root level="${sys:logging_level}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </Root>

    </Loggers>
</Configuration>